.patientprofile__file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: white;
  margin: 5px;
  border-radius: 7px;
}
.patientprofile__file p {
  margin: 0;
}
