.slotSelector {
  width: 100%;
}
.monthSelector {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.monthSelector .monthSlot {
  background: #daf4ff;
  color: #1b79a1;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 2.7vh;
  height: 5vh;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthSelector button {
  height: 5vh;
  width: 18vh;
  border: 0.3px solid #77d6ff;
  border-radius: 5px;
  font-size: 2.2vh;
  color: #1b79a1;
  background-color: white;
  cursor: pointer;
  outline: none;
}
.daySelector {
  display: flex;
  align-items: center;
  line-height: 25px;
  border-top: 0.3px solid #b1b1b1;
  border-bottom: 0.3px solid #b1b1b1;
  margin-top: 1%;
}
.dayBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  cursor: pointer;
}
.weekSelector {
  width: 100%;
  margin-top: 20px;
}
.dayBlocks {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.daySelector span {
  color: rgb(0, 103, 147, 1);
  cursor: pointer;
}
.dayBlock span:nth-child(1) {
  font-size: 1.7vh;
  text-transform: uppercase;
  color: black;
}
.dayBlock span:nth-child(2) {
  font-size: 3.2vh;
  font-weight: 900;
  color: black;
}
.selected span:nth-child(1),
.selected span:nth-child(2) {
  color: #009bd9;
}
.timeSelector {
  display: flex;
  justify-content: space-around;
  margin: 1% 0%;
}
.timeBlock-passed,
.timeBlock-notAvailable,
.timeBlock-available,
.timeBlock-selected {
  width: 10vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 12px;
}
.slot-dtls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slot-dtls p {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  font-weight: 600;
  border: 1px solid #1b79a1;
}
.slot-dtls p:nth-child(1) {
  width: 12vh;
  background-color: #1b79a1;
  color: white;
  /* padding-left: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slot-dtls p:nth-child(2) {
  color: #1b79a1;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.timeBlock-passed {
  color: black;
}
.timeBlock-notAvailable {
  color: #009bd9;
}
.timeBlock-available {
  color: #009bd9;
  background: #daf4ff;
  cursor: pointer;
}
.timeBlock-selected,
.timeBlock-available:hover {
  color: #ffffff;
  cursor: pointer;
  background: #009bd9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.timeBlock-notAvailable {
  cursor: not-allowed;
}
