.signin,
.signup,
.divider {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.portLeft {
  background: #414141;
  width: 45vh;
  height: 100vh;
  position: absolute;
}
.portDsgn {
  position: absolute;
  margin-left: 15vh;
  margin-top: 10%;
}
.portContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 360px;
}
.portContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.port h3 {
  font-size: 36px;
  font-weight: 600;
}
.port p {
  color: #414141;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.port label {
  font-size: 20px;
  font-weight: bold;
}
.port input[type="email"],
.port input[type="password"] {
  background: #f9f9f9;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 450px;
  height: 60px;
  font-size: 20px;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 10px 40px;
}
.port input::placeholder {
  color: #acacac;
  font-family: Poppins;
  font-size: 20px;
}
.port input[type="submit"] {
  background: #01d9ad;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  width: 120px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.googleSignContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.googleSignContainer img {
  height: 45px;
  width: 45px;
}

.googleSignContainer p {
  padding: 0;
  margin: 0;
}

.googleSignContainer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  border-radius: 30px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.googleLogo {
  color: #01d9ad !important;
  font-size: 40px;
}

.portDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portDiv h3 {
  font-size: 4.5vh;
}
.portDiv p {
  font-size: 3vh;
}
.port-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  margin-top: 10%;
  color: #009bd9;
}
.port-divider p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #01d9ad;
  padding: 10px 30px;
}
.port-divider p:hover {
  background-color: #01d9ad;
  color: #009bd9;
}
.port-divider-active {
  background-color: #01d9ad;
  color: white;
}
.port-divider p:nth-child(1) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.port-divider p:nth-child(2) {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: none;
}
.portDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 3vh;
  bottom: 15%;
  right: 10%;
  position: fixed;
}
.portDiv button:hover {
  color: #009bd9;
  cursor: pointer;
}
.portDiv button span {
  color: #01d9ad;
  font-size: 6vh;
}
@media only screen and (max-width: 600px) {
  .portLeft {
    width: 18vh;
  }
  .portDsgn {
    margin-left: 6vh;
    margin-top: 5%;
  }
  .portContainer {
    margin-left: 20vh;
  }
  .port {
    margin-top: 50px;
  }
  .port h3 {
    font-size: 30px;
  }
  .port p {
    font-size: 20px;
  }
  .port input[type="email"],
  .port input[type="password"] {
    font-size: 15px;
    width: 250px;
    height: 50px;
  }
  .port label,
  .port input::placeholder {
    font-size: 15px;
  }
  .port input[type="submit"] {
    height: 40px;
    width: 100px;
    font-size: 15px;
  }
  .portDiv h3 {
    font-size: 3vh;
  }
  .portDiv p {
    font-size: 2.5vh;
  }
  .portDiv button {
    font-size: 2.5vh;
  }
  .portDiv button span {
    font-size: 4.5vh;
  }
  .port-divider p {
    border: 2px solid #01d9ad;
  }
}
