.waitingRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.app-time {
  background: #97eecf;
  color: #006793;
  padding: 15px 45px;
  border-radius: 10px;
  margin-bottom: 4%;
  margin-top: 4%;
}
.app-time p {
  font-size: 18px;
  padding: 8px 0;
}
.app-time-error {
  font-size: 16px;
}
.waitingRoom .ant-btn {
  background: #009bd9;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
}
.waitingRoom .ant-btn a {
  color: white;
}
.app-part-dtls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
